spring:
  application:
    name: cinema-box-office-api-test
  classformat:
    ignore: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

server:
  port: 8080

logging:
  level:
    root: WARN
    com.boxoffice: DEBUG
